/target/
!.mvn/wrapper/maven-wrapper.jar

### Project ###
/tradeunion-web/src/main/resources/static/js/libs/
/tradeunion-web/src/main/resources/static/css/libs/oj/v5.0.0/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/




