/target/
!.mvn/wrapper/maven-wrapper.jar
### Project ###
/src/main/resources/static/js/libs/
/src/main/resources/static/css/libs/oj/v5.0.0/


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/